.login{
    width: 400px;
    max-width: 100%;
    background-color: aliceblue;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #000;
}

.login:hover{
    animation: 0.4s ease-out fadeIn 1;
    animation-iteration-count: infinite;
}

.adminLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width:100vw; */
    padding:1em;
   background: linear-gradient(18deg,#4355e2,#632685,#5d276d);
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.loginTitle{
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
}